<div class="form-group">
  <input
    [type]="fieldTextType ? 'text' : 'password'"
    class="form-control"
    name="password"
    placeholder="Password"
    [(ngModel)]="passVal"
    (keyup)="checkPass()"
  />
  <span class="form-group__toggle"  (click)="toggleFieldTextType()">
    <img src="assets/img/eye.svg" alt="">
  </span>
</div>
<div class="form-indicator" [class]="state">
  <div class="form-indicator__items">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="form-indicator__text" [class.active]="passVal.length > 0">
    You password is {{state}}
  </div>
</div>
